{% extends 'base.html' %} {% block title %}Cart{% endblock %} {% block body %}

<div>
  <p>Cart</p>
</div>

<div>
  <ul>
    {% for cart_item in cart_items %}
    <li>
      <a href="/clothes/{{ cart_item.clothes.clothes_id }}">
        <img class="images" src="{{ cart_item.clothes.image_path }}" />
        <div>
          <div>
            Item <br />
            {{ cart_item.clothes.name }}
          </div>
          <div>
            Price <br />
            {{ cart_item.clothes.price }}
          </div>
        </div>
      </a>
      <form action="/carts/{{ cart_item.cart_id }}/delete" method="POST">
        <input type="submit" value="Remove" />
      </form>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
