{% extends 'base.html' %}{% block title %}Homepage{% endblock %} {% block body
%}

<div class="border"></div>

<div class="homepage-box">
  <div class="create-account">
    <h2>Create an Account</h2>

    <form action="/users" method="POST">
      <p class="email-word">
        Email <br />
        <input
          class="email-form"
          type="text"
          name="email"
          placeholder="Email Address"
        />
      </p>

      <p class="password-word">
        Password <br />
        <input
          class="password-form"
          type="password"
          name="password"
          placeholder="Password"
        />
      </p>

      <p>
        <input class="submit" type="submit" value="Create" />
      </p>
    </form>
  </div>

  <div class="log-in">
    <h2>Log In</h2>

    <form action="/login" method="POST">
      <p class="email-word">
        Email <br />
        <input
          class="email-form"
          type="text"
          name="email"
          placeholder="Email Address"
        />
      </p>

      <p class="password-word">
        Password <br />
        <input
          class="password-form"
          type="password"
          name="password"
          placeholder="Password"
        />
      </p>

      <p>
        <input class="submit" type="submit" value="Login" />
      </p>
    </form>
  </div>
</div>

{% endblock %}
